[Unit]
Description="Publishes a stream of events representing changes in the competition state."
After=srcomp-http.service

[Service]
User=www-data

Type=simple
Restart=on-failure

WorkingDirectory=/srv
EnvironmentFile=example.env
ExecStart=srcomp-pystream

[Install]
WantedBy=multi-user.target
